@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

img{
    width: 80vh;
    height: 80vh;
    position: absolute;
    top:50%;
    left: 25%;
    transform: translate(-50%,-50%);
}
h1{
    font-size: 4vw;
    position: absolute;
    top:25%;
    left: 65%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
}
p{
    position: absolute;
    top:55%;
    left: 65%;
    transform: translate(-50%,-50%);
}
a{
    position: absolute;
    top:75%;
    left: 65%;
    transform: translate(-50%,-50%);
    text-decoration: none;
    color: black;
    background: #5ce1e6;
    padding: 10px 20px 10px 20px;
    font-weight: 900;
    border-radius: 5px;
}